<launch>
    <remap from="map" to="/rtabmap/grid_map"/>

    <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="true"  clear_params="true" >
        <rosparam file="$(find caddy_location)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find caddy_location)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find caddy_location)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find caddy_location)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find caddy_location)/config/base_local_planner_params.yaml" command="load"/>

        <param name="controller_frequency" value="15" />
        <remap from="/cmd_vel" to="/cmd_vel" />
    </node>

    <!--include file="$(find rover_rtabmap_config)/launch/move_base_obstacle_avoid_bringup.launch" /-->
</launch>