<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find caddy_bot)/config/imu_filter.yaml" />

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" output="screen" >
      <remap from="imu/data_raw" to="/imu_e2box"/>
      <remap from="imu/mag" to="/magnetic_field"/>
      <remap from="imu/data" to="/imu_filter"/>
  </node>
  
</launch>
