<?xml version="1.0"?>
<launch>
    <node pkg="caddy_bot" type="motor.py" name="motor" clear_params="true"/>

    <include file="$(find e2box_imu)/launch/e2box_imu.launch"/>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="align_depth" value="true"/>
        <arg name="depth_width" value="424"/>
        <arg name="depth_height" value="240"/>
        <arg name="depth_fps" value="30"/>
        <arg name="color_width" value="424"/>
        <arg name="color_height" value="240"/>
        <arg name="color_fps" value="30"/>
    </include>
    
</launch>
 