<?xml version="1.0"?>
<launch>
    <include file="$(find caddy_bot)/launch/tf_follow_description.launch.xml"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value=""/>
    </node>

    <node pkg="caddy_bot" type="motor.py" name="motor" clear_params="true"/>

    <include file="$(find e2box_imu)/launch/e2box_imu.launch"/>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="align_depth" value="true"/>
        <arg name="depth_width" value="424"/>
        <arg name="depth_height" value="240"/>
        <arg name="depth_fps" value="15"/>
        <arg name="color_width" value="424"/>
        <arg name="color_height" value="240"/>
        <arg name="color_fps" value="15"/>
    </include>
    <!-- <include file="$(find depthimage_to_laserscan)/launch/launchfile_sample.launch"/> -->

    <include file="$(find darknet_ros)/launch/darknet_ros.launch"/>
    
    <include file="$(find yolo_odom)/launch/odom.launch"/>

    <rosparam command="load" file="$(find caddy_bot)/params/tf_follow_ekf_params.yaml" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

    <include file="$(find caddy_bot)/launch/tf_follow_move_base.launch"/>

    <!-- <node ns="/caddy_bot" pkg="caddy_bot" type="follow" name="follow" output="screen"/> -->

</launch>
 