<launch>
    <include file="$(find caddy_rtabmap)/launch/setup_mapping_transforms_handheld.launch"/>
    <include file="$(find caddy_rtabmap)/launch/odom_up.launch" />
    
    <group ns="rtabmap">
        <node output="screen" pkg="rtabmap_ros" name="rtabmap" type="rtabmap">

            <param name="subscribe_depth" value="false" />
            <!-- <param name="subscribe_depth" value="true" /> -->
            <param name="subscribe_scan " value="true" />

            <!-- local_ekf_localization -->
            <remap from="odom" to="/odometry/filtered" />
            <!-- <remap from="odom" to="/odom_source/realsense/odom" /> -->

            <remap from="scan" to="/scan" />


            <!-- <remap from="rgb/image" to="/camera/color/image_raw" /> -->
            <!-- <remap from="rgb/camera_info" to="/camera/color/camera_info" /> -->
            <!-- <remap from="scan_cloud" to="/camera/point_cloud/cloud_registered" /> -->
            <!-- <remap from="depth/image" to="/camera/depth/image_rect_raw" /> -->
            <param name="frame_id" value="base_link" />

            <param name="Grid/MaxGroundAngle" value="45"/> <!-- Maximum angle between point's normal to ground's normal to label it as ground. Points with higher angle difference are considered as obstacles. (default=45) -->
            <param name="Grid/MaxGroundHeight" value="1"/>
            <param name="Grid/3D" value="false"/><!-- only 2d, Use laser scan-->
            <param name="map_always_update" value="true"/>
             
        </node>
    </group>
</launch>

